.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    height: 20px;
    background-color: #eee;
    color: #848484;
  }
}
